
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600;700;900&display=swap');
.HeaderContainer{
    width: 1440px;
    margin: auto;
    height: 800px;
    position: relative;
    bottom: 140px;
}
.navbarContainer{
    width: 1440px;
    margin: auto;
    position: relative;
    top: 25px;
    z-index: 2;
    font-family: 'Barlow', sans-serif;
    background-color: transparent;
    color: white;
    box-sizing: border-box;

}
.navbar{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    justify-content: space-around;
}
.headerbtn{
    background-color: transparent;
    border: none;
    padding: 20px;
    font-size: 15px;
    color: white;
    padding-left: 25px;
    font-family: 'Barlow', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerbtn:hover{
    background-color: rgba(255, 255, 255, 0.356);

    color: white;
    border-radius: 15px;
    font-weight: bold;
}
.headerbtn:active{
    background-color: white;
    color: black;
}
.headerTitle{
    text-align: center;
}
.background{
    height: 800px;
    position: relative;
    top: -135px;
    z-index: 1;
}
.headerNavbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 100px;
    z-index: 2;
    margin: 40px;
}
.title{
    background-color: transparent;
    font-size: 60px;
    width:650px;
    z-index: 3;
    position: relative;
    top: 230px;
    color: white;
    left: 400px;
    font-family: 'Fraunces', serif;
}